$blue: rgb(56, 139, 177);
$white: rgb(231, 231, 231);
$black: black;
$green: #04aa6d;
$gray: rgb(172, 172, 172);
$dark-gray: #8b8e91;
$antiquewhite: antiquewhite;
$light-white: #fffafa;
$dark: #353333;
$light-blue: #6a9af1;
$dark-blue: #3742e0;
$yellow: #f5e1a6;
