@import './colors.scss';
.grey-modal {
  opacity: 0.7;
  background-color: $gray;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal-content {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  align-items: center;
  opacity: 1;
  position: fixed;
  width: 75%;
  left: 50%;
  top: 30%;
  margin-left: -37.5%;
  height: 100px;
  background-color: $white;
  border: 4px solid $black;
  z-index: 2;
}

.hidden {
  display: none;
}

.car-svg {
  transform: scaleX(-1);
}

.car-svg::before {
  content: '';
  width: 1920px;
  height: 3px;
}

.car-container::after {
  display: block;
  content: '';
  background: repeating-linear-gradient(to right, $light-white, $dark-gray 10px);
  width: 90%;
  height: 5px;
  position: relative;
  bottom: 30px;
}

.finish-flag {
  display: block;
  width: 50px;
  height: 50px;
  position: relative;
  top: 140px;
  left: 80%;
  background-image: url('../assets/finish-flag.svg');
}

.car-container__info {
  display: flex;
}

.car-track__animation-controls {
  margin-bottom: 15px;
  .button {
    width: 50px;
  }
}

.page {
  padding: 20px;
}

.trophy-icon {
  background-image: url('./../assets/trophy_1.svg');
}

.garage-icon {
  background-image: url('./../assets/garage.svg');
}

.header {
  display: flex;
  justify-content: center;
  background: linear-gradient($light-blue, $dark-blue);
  margin-bottom: 10px;
}

.app {
  min-height: 100vh;
  background-image: url('./../assets/5107490.jpg');
}

.car-name {
  font-family: 'Open Sans', serif;
  color: $white;
}

.form__inputs-wrapper {
  display: flex;
  margin-right: 15px;
}

.form .input {
  margin-right: 5px;
}

.garage__controls {
  display: flex;
  justify-content: center;
  .button {
    width: 307px;
    height: 72px;
    background: $green;
    color: $antiquewhite;
  }
}

.page__controls {
  margin-bottom: 30px;
}

.page__controls_random-cars {
  margin-bottom: 5px;
}

.form__car-input_text {
  padding: 12px;
  border: 1px solid $gray;
  border-radius: 4px;
  box-sizing: border-box;
}

.form__car-input_control {
  background-color: $green;
  color: $antiquewhite;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.form__car-input_color {
  -webkit-appearance: none;
  border: none;
  background: $antiquewhite;
  width: 41px;
  height: 41px;
  overflow: hidden;
  outline: none;
  cursor: inherit;
}

.car-form {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

@keyframes slide {
  from {
    margin-left: 0;
  }
  to {
    margin-left: 80%;
  }
}

.table {
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', Sans-Serif, serif;
  font-size: 14px;
  background: $light-white;
  text-align: center;
  border-collapse: collapse;
  color: $dark;
  .table__head {
    padding: 8px 10px;
    font-weight: normal;
    border-bottom: 2px solid $yellow;
    border-right: 20px solid $light-white;
    border-left: 20px solid $light-white;
    cursor: pointer;
    &:first-child {
      border-left: none;
    }
  }
  .table__col {
    border-right: 20px solid $light-white;
    border-left: 20px solid $light-white;
    padding: 12px 10px;
    text-align: center;
    color: $dark-gray;
    &:first-child {
      border-left: none;
    }
  }
}

.page__name,
.page__number,
.form-explanation {
  color: $antiquewhite;
  font-family: Poppins, serif;
}

.winner-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button:disabled {
  background-color: $gray;
}

html {
  overflow-y: scroll;
}
